@import "../../styles/partials/global.scss";

.win {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 25%;

  &__main {
    background-color: white;
    width: 60%;
    border-radius: 10px;
  }
  &__heading {
    text-align: center;
    padding: 20px;
    font-family: "OpenSans-Regular";
  }
}
